{% extends "base.html" %}

{% block tabs %}
{{ super() }}

<div class="md-grid md-typeset">
    <div class="mdx-hero">
        <div class="mdx-hero__image">
            <img src="assets/img/profile.jpg" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="mdx-hero__content">
            <h1>Aleksandr Popov</h1>
            <p>Make difference. Step into the light from your personal maze.</p>
        </div>
        <div class="icon-links">
            <a href="https://github.com/budivoy" title="GitHub" aria-label="GitHub"><i
                    class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/aleksandr-p-9523aa83" title="LinkedIn" aria-label="LinkedIn"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://x.com/xbudivoy" title="Twitter" aria-label="Twitter"><i
                    class="fa-brands fa-x-twitter"></i></a>
            <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&hl=en&user=vaPP57YAAAAJ&sortby=pubdate"
                title="Google Scholar" aria-label="Google Scholar"><i class="fa-solid fa-graduation-cap"></i></a>
        </div>
        <div style="margin-top: 5px;">
            <a href="assets/pdf/AleksandrPopov_CV.pdf">Curriculum Vitae</a>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
